{
    "presets": [
      ["@babel/preset-env", {
        "modules": "commonjs",
        "targets": {
          "browsers": ["> 0.25%",  "not dead"],
          "node": "current"
        }
      }]
    ]
  }
